:root {
  /* add here all colors and dimensions */
  --dark: #1f2326;
  --grey-1: #494b56;
  --grey-2: #888d97;

  --blue: #57a2ed;
  --light-cian: #6cd9e9;

  --yellow: #f8cb84;

  --red: #fe7e7c;
}
